#menuSuperior {

    background-color: #00001f;

}

.itemsMenu {

    display: block;
    background-color: #1CB5E0;
    border: 2px solid black;
    border-radius: 20px;
    padding: 10px;
    text-decoration: none;
    color: white;
    min-width: 200px;
    text-align: center;

}

body {
    background: #E0FFFF;  /* fallback for old browsers, light cyan */
    background: -webkit-linear-gradient(to right, #E0FFFF, #98FB98);  /* Chrome 10-25, Safari 5.1-6, light cyan to pale green */
    background: linear-gradient(to right, #E0FFFF, #c8e8c8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+, light cyan to pale green */
}

h1 {
    font-size: 3.5rem;
    margin-bottom: 40px;
}

main {
    padding: 50px 100px 50px 100px;
}

.noticia {

    color: white;

    background: #000046;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #1CB5E0, #000046);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #1CB5E0, #000046); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 20px;
    box-shadow: 5px 5px 2px 2px rgb(77, 0, 77);

    padding: 20px;
    margin-bottom: 40px;
    text-align: center;
    width: 80%;
    margin-left: 10%;

}

#imgNoticia {
    width: 100%;
}

#enlace {

    color: #1CB5E0;

}

#botones {
    margin-top: 40px;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
}

#guardar{
    border: 2px solid black;
    background-color: lightblue;
    color: black;
    width: 18%;
    margin-right: 30px;
}

#vaciar{
    border: 2px solid black;
    width: 18%;
}

.cuerpo{
    text-align: left;
    margin-left: 20%;
}

h2{
    border: 3px solid black;
    width: 60%;
    margin-left: 20%;
    margin-top: 3%;
    margin-bottom: 3%;
    background-color: lightgreen;
    -webkit-text-stroke: 1.5px #00001f;
    font-size: 2.5rem;
}

.top_nav{
    margin: 0 auto;
    color: white;
}

#RSS:hover{
    cursor: pointer;
}