nav {
    background-color: #808080; /* Gris */
}

body {
    background: #c8e8c8;
    background: -webkit-linear-gradient(to right, #c8e8c8, #E0FFFF);
    background: linear-gradient(to right, #c8e8c8, #E0FFFF);
}

h1 {
    font-size: 3.5rem;
    margin-bottom: 40px;
    margin-top: 20px;
    text-align: center;
}

#noticias {
    margin: auto;
    margin-top: 3%;
    width: 50%;
    border: 1px solid black;
}

tr {
    margin: auto;
    width: 90%;
    border: 1px solid black;
}